<div class="row">
    <div class="col-md-2 col-sm-2 mb-5">
        <img class="img-thumbnail-shadow" src="~/assets/img/badges/1.png" width="100"/>
    </div>
    <div class="col-md-2 col-sm-2 mb-5">
        <img class="img-thumbnail-shadow" src="~/assets/img/badges/1.png" width="100"/>
    </div>
    <div class="col-md-2 col-sm-2 mb-5">
        <img class="img-thumbnail-shadow" src="~/assets/img/badges/2.png" width="100"/>
    </div>

    <div class="col-md-2 col-sm-2 mb-5">
        <img class="img-thumbnail-shadow" src="~/assets/img/badges/3.png" width="100"/>
    </div>
    <div class="col-md-2 col-sm-2 mb-5">
        <img class="img-thumbnail-shadow" src="~/assets/img/badges/4.png" width="100"/>
    </div>
    <div class="col-md-2 col-sm-2 mb-5">
        <img class="img-thumbnail-shadow" src="~/assets/img/badges/5.png" width="100"/>
    </div>
    <div class="col-md-2 col-sm-2 mb-5">
        <img class="img-thumbnail-shadow" src="~/assets/img/badges/6.png" width="100"/>
    </div>
    <div class="col-md-2 col-sm-2 mb-5">
        <img class="img-thumbnail-shadow" src="~/assets/img/badges/7.png" width="100"/>
    </div>
    <div class="col-md-2 col-sm-2 mb-5">
        <img class="img-thumbnail-shadow" src="~/assets/img/badges/8.png" width="100"/>
    </div>
    <div class="col-md-2 col-sm-2 mb-5">
        <img class="img-thumbnail-shadow" src="~/assets/img/badges/9.png" width="100"/>
    </div>
    <div class="col-md-2 col-sm-2 mb-5">
        <img class="img-thumbnail-shadow" src="~/assets/img/badges/10.png" width="100"/>
    </div>
</div>
@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
            var badges = localStorage.getItem("badges");
            var crown = localStorage.getItem("crown");
            var point = localStorage.getItem("point");

            $('#badges').text(badges);
            $('#crown').text(crown);
            $('#point').text(point);


        });


    </script>
}