@model IEnumerable<Gamification.UI.Models.Badges>
<div class="row">
    @if(Model.Count().Equals(0)){
        <div class="col-sm-12 col-md-12">
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <strong>Sorry</strong> You don't have any batch at the moment.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    }
    else
    {
        @foreach (var data in Model)
        {
            <div class="col-md-2 col-sm-2 mb-5">
                <img class="img-thumbnail-shadow" src="@($"/assets/img/badges/{data.Badge}.png")" width="100" />
            </div>
        }
    }
   
</div>
@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
            var badges = localStorage.getItem("badges");
            var crown = localStorage.getItem("crown");
            var point = localStorage.getItem("point");

            $('#badges').text(badges);
            $('#crown').text(crown);
            $('#point').text(point);


        });


    </script>
}