@model IEnumerable<Gamification.UI.Data.Tasks>


<div class="row">
    @if (Model.Count() == 0 || Model == null)
    {
        <div class="alert alert-primary alert-dismissible" role="alert">
            Sorry no activity created at the moment!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    else
    {
        foreach (var task in Model)
        {
            <div class="col-sm-12 col-md-4">
                <div class="card text-end mb-3">
                    <div class="card-body">
                        <h5 class="card-title">@task.StepNumber</h5>
                        <p class="card-text">@task.Description. </p>
                        <a href="javascript:void(0)" class="btn btn-primary">Complete</a>
                    </div>
                </div>
            </div>
        }
    }

</div>