<div class="row">
    <div class="col-sm-12 col-md-4">
        <div class="card text-end mb-3">
            <div class="card-body">
                <h5 class="card-title">Step 1</h5>
                <p class="card-text">click on complete for <strong>5 points</strong> double click for <strong>10 points</strong>. </p>
                <a href="javascript:void(0)" class="btn btn-primary">Complete</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card text-end mb-3">
            <div class="card-body">
                <h5 class="card-title">Step 2</h5>
                <p class="card-text">click on complete for <strong>5 points</strong> double click for <strong>10 points</strong>.</p>
                <a href="javascript:void(0)" class="btn btn-primary">Complete</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card text-end mb-3">
            <div class="card-body">
                <h5 class="card-title">Step 3</h5>
                <p class="card-text">click on complete for <strong>5 points</strong> double click for <strong>10 points</strong>.</p>
                <a href="javascript:void(0)" class="btn btn-primary">Complete</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card text-end mb-3">
            <div class="card-body">
                <h5 class="card-title">Step 2</h5>
                <p class="card-text">click on complete for <strong>5 points</strong> double click for <strong>10 points</strong>.</p>
                <a href="javascript:void(0)" class="btn btn-primary">Complete</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card text-end mb-3">
            <div class="card-body">
                <h5 class="card-title">Step 3</h5>
                <p class="card-text">click on complete for <strong>5 points</strong> double click for <strong>10 points</strong>.</p>
                <a href="javascript:void(0)" class="btn btn-primary">Complete</a>
            </div>
        </div>
    </div>
</div>